* {
  box-sizing: border-box !important;
}

.flex-center {
  width: 100%;
  display: flex;
  align-items: center;
}

body {
  background-color: #050b2f;
  margin-top: 140px !important;
}

header {
  position: fixed;
  top: 0;
  width: 100% !important;
  background-color: #050b2f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  text-decoration: none !important;
  color: #fff !important;
}

.logo {
  width: 140px;
}

.form {
  padding: 1rem 2rem !important;
  color: #fff;
}

.form-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form .form-group {
  margin-bottom: 1rem;
}

footer {
  color: #fff;
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: red;
  bottom: 0;
}

.card-container{
  width: 100% !important;
  color: red !important;
}

@media (min-width: 720px) {
  .form {
    width: 60%;
  }
}

@media (min-width: 1080px) {
  .form {
    width: 40%;
  }
}

@media (min-width: 0) and (max-width: 720px) {
  .logo {
    width: 100px;
  }
}
