{% extends 'base.html' %} {% block nav %}Olá {{ request.user.first_name }}!<a href="/"><button type="button" class="btn btn-primary">Voltar</button></a>{% endblock%} 
{%block content %}
<style>
  .feedbacks-container {
    display: flex;
    justify-content: space-between;
    align-items: top;
  }

  .graphic, .comments, .form-date {
    width: 49%;
  }

  @media (max-width: 720px) {
    .feedbacks-container  {
      flex-direction: column;
      align-items: center;
    }

    .graphic, .comments, .form-date {
      width: 100% !important;
    }

    .form-date {
      padding: 1rem !important;
    }
  }
</style>

<div style="width: 100%; ">
  <form class="form-date" style="padding: 1rem 0 1rem 1rem; color: #fff; display: flex; justify-content: space-between;" method="get">
      <input
        type="date"
        name="start_date"
        required
        class="form-control"
        label="Data"
      />
      <button style="margin-left: 1rem;" type="submit" class="btn btn-primary">Filtrar</button>
  </form>
  <div class="feedbacks-container" style="padding: 1rem; width: 100%; color: #fff">
    <div class="graphic">
      <h5>Gráfico de feedbacks</h5>
      <div style="background-color: #fff; border-radius: 10px; margin-bottom: 1rem;">
        <canvas id="feedbacks"></canvas>
      </div>
    </div>
    <div class="comments">
      <h5>Lista de feedbacks</h5>
      {% for obj in object_list %}
        <div class="card" style="width: 100%; margin-bottom: 1rem">
          <div class="card-header">
            {{ obj.get_emoji_display }}
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{ obj.message }}</p>
              <p style="font-size: 0.8rem;">{{ obj.created_at }}</p>
            </blockquote>
          </div>
        </div>
      {% endfor %}
      {% if not object_list %} Nenhum feedback encontrado {% endif %}
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const feedbacks = document.querySelectorAll('.card-header')
  const labels = []
  const itens = []
  for (let i = 0; i < feedbacks.length; i++) {
    const exist = labels.some((item) => item === feedbacks[i].textContent)
    !exist && labels.push(feedbacks[i].textContent);
    itens.push(feedbacks[i].textContent);
  }
  function countElements(array) {
    const count = {}; 
    for (const element of array) {
      if (count[element]) {
        count[element]++;
      } else {
        count[element] = 1;
      }
    }
    return count;
  }
  const result = countElements(itens);
  const qtdLabels = []
  for (const element in result) {
    qtdLabels.push(result[element])
  }
  const dataFeedbacks = {
    labels: labels,
    datasets: [{
      label: 'Feedbacks do dia',
      backgroundColor: '#87CEEB',
      borderColor: 'rgb(255, 99, 132)',
      data: qtdLabels,
    }]
  };
  const configFeedbacks = {
    type: 'bar',
    data: dataFeedbacks,
    options: {
      indexAxis: 'y',
    }
  };
  new Chart(
    document.getElementById('feedbacks'),
    configFeedbacks
  );
</script>

{% endblock %}
