{% extends 'base.html' %} 

{% block nav %}<a href="/"><button type="button" class="btn btn-primary">Voltar</button></a>{% endblock %} 

{%block content %}
<form class="form" method="post">
  {% csrf_token %}
  <div class="form-elements">
   <div class="form-group">
      <p style="margin: 0 0 0.5rem 0">Seu email *</p>
      <input
        type="email"
        name="username"
        required
        class="form-control"
        label="Seu comentário"
      />
    </div>
    <div class="form-group">
      <p style="margin: 0 0 0.5rem 0">Sua senha *</p>
      <input
        type="password"
        name="password"
        required
        class="form-control"
        label="Seu comentário"
      />
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </div>
</form>
{% endblock %}
